<center><h1>Categories</h1>
<br>
<table class="table-striped table-bordered table-condensed">
  <tr>
    <td class="left-column table-categories"><b>Sorting</b></td>
    <td class="right-column-categories table-categories-right">
      <b>bucket sort</b> in <a href="http://www.codingchallenges.co/challenges/7">Ruby</a> or <a href="http://www.codingchallenges.co/js_challenges/7">JavaScript</a><br><br>
      <b>merge sort</b> in <a href="http://www.codingchallenges.co/challenges/8">Ruby</a> or <a href="http://www.codingchallenges.co/js_challenges/8">JavaScript</a><br><br>
    </td>
  </tr>
  <tr>
    <td class="table-categories"><b>Recursion</b></td>
    <td class="table-categories-right">
      <b>make change</b> in <a href="http://www.codingchallenges.co/challenges/5">Ruby</a> or <a href="http://www.codingchallenges.co/js_challenges/5">JavaScript</a><br><br>
      <b>merge sort</b> in <a href="http://www.codingchallenges.co/challenges/8">Ruby</a> or <a href="http://www.codingchallenges.co/js_challenges/8">JavaScript</a><br><br>
      <b>subsets</b> in <a href="http://www.codingchallenges.co/challenges/10">Ruby</a> or <a href="http://www.codingchallenges.co/js_challenges/10">JavaScript</a><br><br>
    </td>
  </tr>
  <tr>
    <td class="table-categories"><b>Arrays</b></td>
    <td class="table-categories-right">
      <b>dot product</b> in <a href="http://www.codingchallenges.co/challenges/3">Ruby</a> or <a href="http://www.codingchallenges.co/js_challenges/3">JavaScript</a><br><br>
      <b>permutation cycles</b> in <a href="http://www.codingchallenges.co/challenges/9">Ruby</a> or <a href="http://www.codingchallenges.co/js_challenges/9">JavaScript</a><br><br>
    </td>
  </tr>
  <tr>
    <td class="table-categories"><b>Trigonometry and Series</b></td>
    <td class="table-categories-right">
      <b>calculate cos</b> in <a href="http://www.codingchallenges.co/challenges/2">Ruby</a> or <a href="http://www.codingchallenges.co/js_challenges/2">JavaScript</a><br><br>
      <b>calculate exp</b> in <a href="http://www.codingchallenges.co/challenges/4">Ruby</a> or <a href="http://www.codingchallenges.co/js_challenges/4">JavaScript</a><br><br>
      <b>calculate sin</b> in <a href="http://www.codingchallenges.co/challenges/6">Ruby</a> or <a href="http://www.codingchallenges.co/js_challenges/6">JavaScript</a><br><br>
    </td>
  </tr>
  <tr>
    <td class="table-categories"><b>SQL</b></td>
    <td class="table-categories-right">
      <b>name from id</b> in <a href="http://www.codingchallenges.co/sql_challenges/11">SQL</a><br><br>
      <b>gdp per capita</b> in <a href="http://www.codingchallenges.co/sql_challenges/12">SQL</a><br><br>
      <b>movie list</b> in <a href="http://www.codingchallenges.co/sql_challenges/1">SQL</a><br><br>
    </td>
  </tr>
</table></center>