<h1>Practice</h1>

<%= link_to "Easy", challenges_easy_url, class: "btn btn-default #{@easy_button_class}" %>
<%= link_to "Medium", challenges_medium_url, class: "btn btn-default #{@medium_button_class}" %>
<%= link_to "Hard", challenges_hard_url, class: "btn btn-default #{@hard_button_class}" %>

<br><br>

<%= @challenges %>