.user-show-table {
  width: 200px;

}

.content {
  width: 900px;
  margin: auto;
  margin-bottom: 50px;
}

.sign-in {
  text-align: center;
  padding-top: 100px;
}

.body-application-layout {
  padding-left: 10px;
  padding-right: 10px;
}

ul {
  list-style: none;
}

.menu-right {
  float: right;	
  padding-right: 25px;
}

.menu-right ul {
  padding-top: 15px;
  text-align: right;
}

.menu-right p {
  padding-top: 25px;
}

.menu-left {
  float: left;	
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

#editor {
  position: relative;
  width: 900px;
  height: 400px;
  border: 1px solid yellow;
}